header {
  background-color: #b80000;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  animation: alternate;
  animation-duration: 1s;
  transition: 1.5s;
}

header:hover {
  background-color: #a00110;
  color: #fff5f5;
}

header a:hover {
  text-decoration: underline;
  color: #ffffff;
}

img {
  width: 20px;
  align-items: center;
  padding: 0 2px;
}

img:hover {
  cursor: not-allowed;
  color: #000000;
}

h1 {
  font-family: "Kanit", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  color: #f1f1f1;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  transition: 1s;
}

h2 {
  color: #fd0000;
  font-family: "Josefin Sans", sans-serif;
}

h2 img {
  width: 20px;
  padding: 0 0 0 9px;
}

h3 {
  color: #c90000;
}

h3 img {
  width: 20px;
  padding: 0;
}

h4 {
  color: #d50000;
}

h5 img {
  width: 23px;
  padding: 0 2px 0 0;
}

section {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  margin: 15px 0;
}

.restaurantes img {
  width: 20px;
}

.apple img {
  width: 18px;
  margin: 0 15 0 0;
}

.asus img {
  width: 25px;
  margin: 0;
  left: 30px;
  padding: 0 0 0 0;
}

.como-niveis strong {
  color: #b80000;
}

footer {
  background-color: #f2f2f2;
  color: #000000;
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}

footer:hover,
footer:focus {
  background-color: #d1d1d1;
}
